<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ToDo App</title>
    <link rel="stylesheet" href="/static/style_home_page.css">
</head>
<body>
    <div class="container">
        <div class="image-box">
            <img src="/static/image/img.png" width="500" alt="Welcome Image">
        </div>
        <div class="text-box">
            <h1>Welcome to Your ToDo Assistant</h1>
            <p>Organize your daily tasks, stay focused and get things done effortlessly. Let's make productivity simple and effective together.</p>
            <a href="accounts/login/" class="start-btn">Start Using</a>
        </div>
    </div>
</body>
</html>
