# JetBrains IDE (PyCharm, IntelliJ, WebStorm и т.д.)
.idea/

# Python кеш-файлы и виртуальное окружение
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# Файлы базы данных и другие временные файлы
*.sqlite3
*.log
